@import url(style.css);

.main_contacto{
    margin-top: 3.5rem;
}

.contenido-principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0.5rem ;
}
.cont_form{
	align-self: center;
}

.body_form {
	display:flex;
    flex-direction: column;
	width:450px;
}
.body_form >.input_label{
	display:flex;
    flex-direction: row;
	justify-content: space-between;
}

.input_label{
   text-align: left;
   margin-left: 0.8rem;
   font-size:1rem;
   font-family: inherit;
   align-items: center;
}
.input_camp{
	border-radius: 5px;
}
.input_labelC{
	font-size:0.9rem;
	text-align:center
	
}
.input_labelC > .input_camp{
	margin-right:0.5rem;
	margin-left: 0.5rem;
}

fieldset{
	width: 440px;
	margin:1rem 1rem 1rem 0.5rem;
	align-self: left;
	border: 1px solid white;
	padding-bottom:1rem;
}

legend{
   text-align: left;
   color:white;
   font-size:1rem;
   font-family: inherit;
}

.option{
    display:flex;
    flex-direction: row;
	justify-content: space-evelin;
}


label{
    font-family: inherit; 
    color: rgb(255, 166, 1);
}

input[type=text],input[type=date],input[type=email]{
    width: 60%;
    text-align: justify;
    padding: 0.5rem;
    margin: 1vw;
    display:block;
   
    box-sizing:border-box;
    background-color:  #dddbdb;
}
.button-send{
width:100%;
background-color: #4caf50;
color:white;
padding:14px 20px;
margin:8px 0px;
border:none;
border-radius: 4px;
cursor:pointer;
}

.button-send:hover {
    background-color: #07ce11;
	border:1px solid darkgreen;
}


/*-----------------------Show_data------------*/
.tab{
    margin: 1rem 1.5rem 1.5rem 1.5rem;
}

.tabla-dinamica{
    border: 1px solid rgb(255, 166, 1);
    text-align:center;
    width: 100%;
    color:white;
}
th, td{
    border: 1px solid rgb(255, 166, 1);
    width:25%;
    text-align:center;
    color: white;
}
@media screen and (min-width:768px)  {
	.body_form {
		width:600px;
	}
	fieldset{
		width: 600px;
	}
	input[type=text],input[type=date],input[type=email]{
		width: 70%;
	}
	.input_labelC > .input_camp{
		margin-right: 1rem;
	}
}
@media screen and (min-width: 1024px) {
	.body_form {
		width:950px;
	}
	input[type=text],input[type=date],input[type=email]{
		width: 80%;
		padding: 1rem;
	}
	.input_label{
		font-size: 1.1rem;
	}
	.main_contacto{
		margin-top: 4.5rem;
	}
	fieldset{
		width: 940px;
	}
	
}