@import url(style.css);

.main_contacto{
    margin-top: 3.5rem;
}

.contenido-principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
}

.body_form {
    width: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}

.input_label{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

fieldset{
    margin-bottom:1rem;
    width:100%;
}

legend{
    font-size: 1vw; 
    font-family: sans-serif;
    color:white;
    margin:0.5rem;
}

.option{
    margin: 0.5rem;
}

.option > input{
    margin:0.75rem;
}

label{
    font-size: 1vw; 
    font-family: sans-serif; 
    color: rgb(255, 166, 1);
}

input[type=text],input[type=date],input[type=email]{
    width: 75%; 
    text-align: justify;
    padding: 1vw;
    margin: 1vw;
    display:block;
    border:1vw;
    border: radius 4px;
    box-sizing:border-box;
    background-color:  #dddbdb;
}
.button-send{
width:100%;
background-color: #4caf50;
color:white;
padding:14px 20px;
margin:8px 0px;
border:none;
border-radius: 4px;
cursor:pointer;
}

.button-send:hover {
    background-color: #07ce11;}


.formulario{border-radius: 5xp;
background: rgba(0, 0, 0, 0.7);
padding:2%;
margin:1% 20%
}



/*-----------------------Show_data------------*/
.tab{
    margin: 1rem 1.5rem 1.5rem 1.5rem;
}

.tabla-dinamica{
    border: 1px solid rgb(255, 166, 1);
    text-align:center;
    width: 100%;
    color:white;
}
th, td{
    border: 1px solid rgb(255, 166, 1);
    width:25%;
    text-align:center;
    color: white;
}