@import url(style.css);

.main_index{
    margin-top: 3rem;
}
.contenido-principal {
  margin: 1rem;
  padding: 1rem;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.music {
    margin: 1rem;
    padding: 1rem;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card-body {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;  
    font-style: double;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: rgb(250, 69, 24);
}

.flex-paragraph {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;  
    font-style: double;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: rgb(236, 146, 10);
}

.invite {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;  
    font-style: double;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: rgb(236, 173, 0);
}

.future {
        font-weight: absolute;
        font-family: 'Lucida Sans', Verdana, sans-serif;
        font-size: 20px;  
        font-style: italic;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        color: rgb(250, 69, 24);
}  