@import url(style.css);

/*AUN FALTA

.tablero {
 
  }
*/

.card-body {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;  
    font-style: double;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: rgb(250, 69, 24);
  }

.flex-paragraph {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;  
    font-style: double;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: rgb(236, 146, 10);

}

.invite {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;  
    font-style: double;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: rgb(236, 173, 0);
}

.future {
        font-weight: bold;
        font-family: sans-serif;
        font-size: 15px;  
        font-style: double;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        color: rgb(250, 69, 24);
}  
