@import url(style.css);


.main-miscelaneas {
  background: rgb(9, 2, 26);
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 15px;  
  font-style: double;
  text-align: justify;
  color:  rgb(255, 166, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  line-height: 1.6;
}

.columns {
  align-items: center;
}

.column {
  background: rgb(9, 2, 26);
  border: 5px solid red;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.main-column {
  flex: 1.5;
  justify-content: center;
  margin: 0 auto;
  max-width: 1040px;
  padding: 10px;
}

.article {
  background: rgb(9, 2, 26);
  border: 5px solid rgb(255, 166, 1);
  color: rgb(255, 166, 1);
  flex: 1;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.article-image {
  width: 70%;
  height: auto;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
  position: center;
  width: 100%; 
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}


.article-title {
  color: red;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: bold;
  font-weight: 700;
  line-height: 1.2;
}

.article-content {
  flex: 1;
  margin-top: 5px;
}

.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}
