@import url(style.css);




.columns {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(9, 2, 26);
  border: 5px solid rgb(255, 166, 1);
  color: rgb(255, 166, 1);
  margin: 10px;
  padding: 20px;
  width: 450px;
}

.article-image {
  width: 450px;
  height: auto;
  align-items: center;
 } 

 .article-image img {
  border: 5px solid red;
  width: 400px;
  height: Auto;

 }

.clock {
  background: rgb(9, 2, 26);
  border: 5px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.video{
  display:flex;
  flex-direction:row;
  justify-content: center;}

.video > iframe{ 
  width: 560px;
  height: 315px;
}
  
.iframe{
  width: 560px;
  height: 315px;
}
.article-content {
  text-align: justify;
}
/*------------ MEDIA QUERIES: medium ------------*/
@media screen and (min-width:768px){
  .columns {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .article {
    width: 600px;
  }
  
  .article-image {
    width: 450px;
    height: auto;
    align-items: center;
   } 
  
   .article-image img {
    border: 5px solid red;
    width: 400px;
    height: Auto;
  
   }
}
