@import url(style.css);

.main_personajes{
  /* border:1px solid orange; */
  margin-top: 4rem;
}

.main_vaf1{
  margin-top: 3rem;
}

.flex-paragraphcast {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 15px;  
  font-style: double;
  text-align: justify;
  color:  rgb(255, 166, 1);
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  line-height: 1.6;
}

.cast {
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 20px;  
  font-style: double;
  text-align: center;
  color: rgb(255, 166, 1);
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.personaje{
  /* border: 1px solid blue; */
  display:flex;
  flex-direction:row;
}

.nombre_personaje{
  /* border: 1px solid red; */
  padding: 10px;
}

h3 {
  text-align: center;
  padding: 0.5rem;  
}

.pelicula {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;  
  font-style: double;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  color: rgb(250, 69, 24);
}

.img_actor{
  width: 200px;
  height: 200px;
}
  
.text_biografia{
  text-align: justify;
  padding: 2rem 1rem 0 1rem;
}

.reparto_actores{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.logo{
  width: 500px;
  height: auto;
}

.logo_film{
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.sinopsis {
  border:1px rgb(255, 166, 1);
  padding: 20px;
  display:flex;
  flex-direction:column;
  text-align: left;
  justify-content: center
}

.sinopsis button {
  width: 150px;
  border: 3px solid #dddbdb;
  background-color: #dddbdb;
  border: 2px solid ;
  border-radius: 15px;
  padding: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s;
}

.video{
  display:flex;
  flex-direction:row;
  justify-content: center;}

.video > iframe{ 
  width: 560px;
  height: 315px;
}
  
.iframe{
  width: 560px;
  height: 315px;
}