@import url(animated.css);

body, main, footer {
  border: 3px rgb(158, 154, 154) solid;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
 
}

h1 {
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;  
  font-style: double;
  text-align: center;
  color: rgb(255, 166, 1);
}

.izquierda {
  float: left;
  width: 100px;
  height: 100px;
  margin: 1rem;
  padding: 1rem;
}
.derecha {
  float: right;
  width: 100px;
  height: 100px;
  margin: 1rem;
  padding: 1rem;
}

li {
  list-style: none;
}
nav {
  text-align: center;
}
nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* Para IE 7*/
  zoom: 1;
  *display: inline;
}
nav li {
  float: left;
  padding: 2px 5px;
  border: 3px solid black;
  background-color:rgb(177, 189, 189);
  margin: 4rem;
  border-radius: 15px;
}
nav li a {
  text-decoration: none;
  font-family: century gothic;
  font-weight: bold;
  color: #000;
}
nav li a:hover {
  color: #fa2509;
}

.header-menubar {
  text-align: center;
  margin: auto;
}

.section_item {
  height: auto;
  z-index: 1;
  position: relative;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* Background colors */
.color {
  background-attachment: scroll;
  background: -webkit-repeating-linear-gradient(180deg, black,rgb(31, 3, 31), rgb(16, 0, 46),  rgb(1, 8, 102), #0000aa , #0172bd , #0cf3c1, #67f862, #eff86f,rgb(250, 213, 112), rgb(255, 176, 216),  rgb(255, 189, 189));
  background:    -moz-repeating-linear-gradient(180deg, black,rgb(31, 3, 31), rgb(16, 0, 46),  rgb(1, 8, 102), #0000aa , #0172bd , #0cf3c1, #67f862, #eff86f,rgb(250, 213, 112), rgb(255, 176, 216),  rgb(255, 189, 189));
  background:     -ms-repeating-linear-gradient(180deg, black,rgb(31, 3, 31), rgb(16, 0, 46),  rgb(1, 8, 102), #0000aa , #0172bd , #0cf3c1, #67f862, #eff86f,rgb(250, 213, 112), rgb(255, 176, 216),  rgb(255, 189, 189));
  background:      -o-repeating-linear-gradient(180deg, black,rgb(31, 3, 31), rgb(16, 0, 46),  rgb(1, 8, 102), #0000aa , #0172bd , #0cf3c1, #67f862, #eff86f,rgb(250, 213, 112), rgb(255, 176, 216),  rgb(255, 189, 189));
  background:         repeating-linear-gradient(180deg, black,rgb(31, 3, 31), rgb(16, 0, 46),  rgb(1, 8, 102), #0000aa , #0172bd , #0cf3c1, #67f862, #eff86f,rgb(250, 213, 112), rgb(255, 176, 216),  rgb(255, 189, 189));
}
