@import url(animated.css);
body {
  background-color: rgb(9, 2, 26); 
  font-family: sans-serif;
  }

footer {
  border: 3px rgb(158, 154, 154) solid;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

h1 {
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 40px;  
  font-style: double;
  text-align: center;
  color: rgb(255, 166, 1);
}

h2 {font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;  
  font-style: double;
  text-align: center;
  color: rgb(250, 39, 24);
}

h3 {font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;  
  font-style: double;
  text-align: left;
  color: rgb(250, 39, 24);
}

.izquierda {
  float: left;
  width: 100px;
  height: 100px;
  margin: 1rem;
  padding: 1rem;
}
.derecha {
  float: right;
  width: 100px;
  height: 100px;
  margin: 1rem;
  padding: 1rem;
}

li {
  list-style: none;
}
nav {
  text-align: center;
}
nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* Para IE 7*/
  zoom: 1;
  *display: inline;
}
nav li {
  float: left;
  padding: 2px 5px;
  border: 3px solid black;
  background-color: #dddbdb;
  margin: 4rem;
  border-radius: 15px;
}
nav li a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #000;
}
nav li a:hover {
  color: #fa2509;
}

.header-menubar {
  text-align: center;
  margin: auto;
}

.section_item {
  height: auto;
  z-index: 1;
  position: relative;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
label,input{font-size: 1vw; font-family: sans-serif; color:#000}
input[type=text],input[type=date],input[type=password]
input[type=mail],input[type=numer],input[type=url],input[type=textArea] select{

    width: 80%;
    padding: 1vw;
    margin: 1vw;
    display:inline-block;
    border:1vw;
    border: radius 4px;
    box-sizing:border-box;
}

input[type=submit]{
width:100%;
background-color: #4caf50;
color:white;
padding:14px 20px;
margin:8px 0px;
border:none;
border-radius: 4px;
cursor:pointer;

}

input[type=submit]:hover {background-color: #45a049;}
input[type=submit]:hover {background-color: #45a049;}

.formulario{border-radius: 5xp;
background-color: #dddbdb;
padding:2%;
margin:1% 20%}

.flex-paragraphcast {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 15px;  
  font-style: double;
  text-align: center;
  color: rgb(255, 202, 103);
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}