@import url(animated.css);
/*------------ ESTILOS GENERALES ------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: rgb(9, 2, 26);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.header {
  /* border: 1px solid yellow; */
  height: 150px;
}
.header-menubar {
  text-align: center;
  margin: auto;
  background-color: rgb(9, 2, 26);
}

.section_item {
  height: auto;
  z-index: 1;
  position: relative;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
}

h1 {
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 40px;
  font-style: double;
  text-align: center;
  color: rgb(255, 166, 1);
}

h2 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  font-style: double;
  text-align: center;
  color: rgb(250, 39, 24);
}

h3 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
  font-style: double;
  text-align: left;
  color: rgb(250, 39, 24);
}



.flex-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}


/*------------ nAVBAR ------------*/
.main-menu {
  /* border: 1px solid orangered; */
  list-style: none;
  margin-top: 10%;
  margin-bottom: 0;
  height: 60vh;
  width: 100%;
  background: rgba(9, 2, 26, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: ease-in;
  transform: translateY(-220%);
  position: sticky;
  z-index: 90;
}

.main-menu__item {
  /* border:1px solid yellow; */
  width: 60%;
  padding: 3px 0 3px 0;
  text-align: center;
  border: 3px solid #dddbdb;
  background: #dddbdb;
  margin: 0 0 15px 0;
  border-radius: 15px;
}

.main-menu__link {
  /* border:1px solid green; */
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(9, 2, 26);
}

.main-menu__link:hover {
  color: #fa2509;
}
.izquierda {
  float: left;
  width: 100px;
  height: 100px;
  margin: 1rem;
  /* padding: 1rem; */
}

.derecha {
  float: right;
  width: 100px;
  height: 100px;
  margin: 1rem;
  /* padding: 1rem; */
}

/*------------ MEDIA QUERIES: medium ------------*/
@media screen and (min-width:768px) {
  .izquierda,
  .derecha {
    width: 150px;
    height: 150px;
    margin: 0.5rem 0 0.5rem 0;
  }
}

.main-menu_show {
  transform: translateY(0);
}

@media screen and (min-width:768px) {
  .header {
    /* border: 1px solid yellow; */
    height: 28vh;
    padding: 25px 60px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-menu {
    /* border: 1px solid lightseagreen; */
    margin-top: 0;
    flex-direction: row;
    transform: translateY(0);
    justify-content: space-between;
    height: 50px;
  }

  .main-menu__item {
    /* border:1px solid yellow; */
    width: 15%;
    padding: 4px 0 4px 0;
    border-radius: 15px;
  }
}
/*------------ MEDIA QUERIES: medium ------------*/
@media screen and (min-width: 1024px) {
  .main-menu__item {
    /* border:1px solid yellow; */
    width: 15%;
    padding: 4px 0 4px 0;
  }

}

.toggle-menu {
  /* border: 1px solid white; */
  width: 60px;
  position: absolute;
  top: 7.5rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 100;
}

.icon__menu {
  color: #fa2509;
  font-size: 25px;
  padding: 4px
}

@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
/*------------------------------ Footer ------------------------------*/

.container-footer {
  border: 3px rgb(158, 154, 154) solid;
  padding-top: 0.5rem;
  padding-bottom: 0;
  margin-top: auto;
  height: 5rem;

}

.container-footer>p {
  /* border: 1px solid red; */
  text-align: center;
  padding: 0.5px;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}

.text_footer {
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}

.box_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon_social {
  font-size: 1rem;
  background: rgb(177, 189, 189);
  color: rgb(9, 2, 26);
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.3rem;
}

.icon_social:hover {
  color: red;
}